
<!DOCTYPE html>
<html lang="">
<head>
<meta charset="utf-8">
<title>Khmer Free Online OCR - Convert JPEG, PNG, GIF, BMP, TIFF, PDF, DjVu to Text</title>
<meta name="description" content="Koompi Free online OCR service that allows to convert scanned images, faxes, screenshots, PDF documents and ebooks to text, can process 106 languages and supports layout analysis">
<meta name="google-site-verification" content="3N-LfqqWfYwrof3aNjyPQiF6wl_KugBTRgCLmqPPFfI" />
<meta property="og:title" content="Free Online OCR - Convert JPEG, PNG, GIF, BMP, TIFF, PDF, DjVu to Text" />
<meta property="og:url" content="http://www.koompi-ocr.com" />
<meta property="og:description" content="Koompi Free online OCR service that allows to convert scanned images, faxes, screenshots, PDF documents and ebooks to text, can process 106 languages and supports layout analysis" /
> <!-- Le HTML5 shim, for IE6-8 support of HTML elements --> <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]--> <!-- Le styles -->
<link rel="stylesheet" href="../static/bootstrap.min.css">
<link rel="stylesheet" href="../static/style.min.css" >
<link rel="stylesheet" href="../static/chosen.min.css" />
<link rel="stylesheet" href="../static/social-likes_classic.css">
<type="text/javascript" src="../static/jquery-1.7.min.js"></script>
<script type="text/javascript" src="../static/jquery.blockUI.min.js">
</script><script type="text/javascript" src="../static/bootstrap.min.js">
</script><script type="text/javascript" src="../static/main.js">
</script><script src="../static/social-likes.min.js"></script>
<script type="text/javascript" src="../static/chosen.jquery.min.js">
</script><script type="text/javascript" src="../static/chosen.order.jquery.min.js">
</script><script type="text/javascript">
$(function () {	var order = ['eng'];	$(".chzn-select2").chosen();	$('.chzn-select2').setSelectionOrder(order, true);	});
</script> <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">Khmer OCR</a>
			<ul class="nav"><li class="active">
			<a href="/">Home</a></li>
			<li><a href="/api/">
				<strong>API</strong>
			</a>
		</li>
			<li>
				<a href="/contact/">Contact us</a></li></ul>
				<div class="pull-right">
				</div>
			</div>
		</div>
	</div>
<div class="container">
	<div class="body-content">
		<div class="page-header">
			<h1>Cambodia Online OCR <small>Convert JPEG, PNG, GIF, BMP, TIFF, PDF, DjVu to Text</small></h1>
		</div>
<div class="row"><div class="span8" style="text-align: center;">
	<script async src="../static/adsbygoogle.js"></script><!-- 300x600 --><ins class="adsbygoogle" style="display:inline-block;width:300px;height:600px" data-ad-client="ca-pub-1952178423626406" data-ad-slot="6942555721"></ins>
	<script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div><div class="span19">
		<div class="row">
			<div class="span19">
				<div class="index-page-text well" style="margin-bottom:0">
					<h3>About</h3>koompi-ocr.com ជាសេវាកម្ម OCR (Optical Character Recognition) ឥតគិតថ្លៃនៅលើអ៊ីនធឺណិតអាចវិភាគអត្ថបទនៅក្នុងឯកសាររូបភាពណាមួយដែលអ្នកផ្ទុកឡើងហើយបន្ទាប់មកបម្លែងអត្ថបទពីរូបភាពទៅជាអត្ថបទដែលអ្នកអាចកែសម្រួលបានយ៉ាងងាយស្រួលនៅលើកុំព្យូទ័ររបស់អ្នក។</div>
				</div>
			</div>
			<div class="row"><form id="form" enctype="multipart/form-data" action="/" method="post">
				<div class="span10">
					<label>Select your file</label>
					<input type="file" name="userfile" id="userfile" />
					<label>Recognition language(s) (you can select multiple)</label>
					<input type="hidden" name="l3" id="l3" value=""><select data-placeholder="Recognition language" name="l2[]" multiple class="span10 chzn-select2">
						<option value="afr">Afrikaans</option>
	          <option value="amh">Amharic</option>
	          <option value="asm">Assamese</option>
	          <option value="aze">Azerbaijani</option>
	          <option value="aze_cyrl">Azerbaijani - Cyrilic</option>
	          <option value="bul">Bulgarian</option>
	          <option value="cat">Catalan; Valencian</option>
	          <option value="ceb">Cebuano</option>
	          <option value="ces">Czech</option>
	          <option value="chi_sim">Chinese - Simplified</option>
	          <option value="chi_tra">Chinese - Traditional</option>
	          <option value="deu">German</option>
	          <option value="deu_frak">German - Fraktur</option>
	          <option value="eng" selected="">English</option>
	          <option value="enm">English, Middle (1100-1500)</option>
	          <option value="fra">French</option>
	          <option value="frm">French, Middle (ca. 1400-1600)</option>
	          <option value="gle">Irish</option>
	          <option value="grc">Greek, Ancient (-1453)</option>
	          <option value="jpn">Japanese</option>
	          <option value="ind">Indonesian</option>
	          <option value="ita">Italian</option>
	          <option value="kor">Korean</option>
	          <option value="khm">Central Khmer</option>
					</select>
					</div>
					<div class="span9" style="height:280px;">
					<script async src="../js/adsbygoogle.js"></script>
					<ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px" data-ad-client="ca-pub-1952178423626406" data-ad-slot="9083986140"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div><div class="form-actions span18"><button id="preview" class="btn btn-large btn-primary" name="preview" type="submit" value="1">
					<i class="icon-arrow-up icon-white"></i> Upload</button>&nbsp;
					<button id="ocr" class="btn btn-large" name="ocr" type="submit" value="1">
						<i class="icon-cog"></i> Upload + OCR</button>
						<div style="margin-top:4px; float:right;" class="social-likes" data-counters="no" data-url="https://www.ocr-koompi.com/"><div class="facebook" title="Share link on Facebook">Facebook</div>
						<div class="twitter" title="Share link on Twitter">Twitter</div><div class="plusone" title="Share link on Google+">Google+</div></div> </div></form> </div><!-- /row --> </div> </div>
						<hr>
						<div class="row">
							<div class="span10">
								<h3>Features</h3>
								<ul><li>Unlimited uploads</li>
									<li>No registration required</li>
									<li>Keeps your data safe and secure<br />(all your files will be removed from the server)</li>
									<li>Based on Tesseract OCR engine</li><li>106 recognition languages and fonts support</li>
									<li>Multi-language recognition</li>
									<li>Mathematical equations recognition</li>
									<li>Page layout analysis (multi-column text recognition)</li>
									<li>Selection of area on page for OCR</li>
									<li>Page rotation: clockwise/counterclockwise 90&deg;, 180&deg;</li>
									<li>Different ways to display and process the resulting text<ul>
										<li>Download as file</li>
										<li>Edit in Google Docs</li>
										<li>Translate using Google Translate or Bing Translator</li>
										<li>Publish online (Pastie.com or Pastebin.com)</li>
										<li>Copy to Clipboard</li></ul></li>
										<li>Supports poorly scanned and photographed pages</li>
										<li>Supports low-resolution images</li></ul>
										<h3>Input file formats</h3>
										<ul><li>JPEG, JFIF, PNG, GIF, BMP, PBM, PGM, PPM, PCX</li>
											<li>Compressed files: Unix compress, bzip2, bzip, gzip</li>
											<li>Multi page documents: TIFF, PDF, DjVu</li>
											<li>DOCX, ODT files with images</li>
											<li>Multiple images in ZIP archive</li></ul>
											<h3>Output file formats</h3>
											<ul><li>Plain text (TXT)</li><li>Microsoft Word (DOC)</li><li>Adobe Acrobat (PDF)</li></ul>
							</div>
							<div class="span14" style="border-left: 1px solid #EEEEEE; margin-left: 9px; padding-left: 10px; min-height: 450px;">
								<h3>Recognition languages</h3>
								<div class="row">
									<div class="span7">
										<ul class="unstyled"><li>Afrikaans</li>
											<li>Amharic</li>
											<li>Arabic</li>
											<li>Assamese</li>
											<li>Azerbaijani</li>
											<li>Azerbaijani - Cyrilic</li>
											<li>Belarusian</li>
											<li>Bengali</li>
											<li>Tibetan</li>
											<li>Bosnian</li>
											<li>Bulgarian</li>
											<li>Catalan; Valencian</li>
											<li>Cebuano</li>
											<li>Czech</li>
											<li>Chinese - Simplified</li>
											<li>Chinese - Traditional</li>
											<li>Cherokee</li>
											<li>Welsh</li>
											<li>Danish</li>
											<li>Danish - Fraktur</li>
											<li>German</li>
											<li>German - Fraktur</li>
											<li>Dzongkha</li>
											<li>Greek, Modern (1453-)</li>
											<li>English</li>
											<li>English, Middle (1100-1500)</li>
											<li>Esperanto</li>
											<li>Math / equation detection</li>
											<li>Estonian</li>
											<li>Basque</li>
											<li>Persian</li>
											<li>Finnish</li>
											<li>French</li>
											<li>Frankish</li>
											<li>French, Middle (ca. 1400-1600)</li>
											<li>Irish</li>
											<li>Galician</li>
											<li>Greek, Ancient (-1453)</li>
											<li>Gujarati</li>
											<li>Haitian; Haitian Creole</li>
											<li>Hebrew</li>
											<li>Hindi</li>
											<li>Croatian</li>
											<li>Hungarian</li>
											<li>Inuktitut</li>
											<li>Indonesian</li>
											<li>Icelandic</li>
											<li>Italian</li>
											<li>Italian - Old</li>
											<li>Javanese</li>
											<li>Japanese</li>
											<li>Kannada</li>
											<li>Georgian</li>
										</ul></div><div class="span7">
											<ul class="unstyled"><li>Georgian - Old</li>
												<li>Kazakh</li>
												<li>Central Khmer</li>
												<li>Kirghiz; Kyrgyz</li>
												<li>Korean</li>
												<li>Kurdish</li>
												<li>Lao</li>
												<li>Latin</li>
												<li>Latvian</li>
												<li>Lithuanian</li>
												<li>Malayalam</li>
												<li>Marathi</li>
												<li>Macedonian</li>
												<li>Maltese</li>
												<li>Malay</li>
												<li>Burmese</li>
												<li>Nepali</li>
												<li>Dutch; Flemish</li>
												<li>Norwegian</li>
												<li>Oriya</li>
												<li>Panjabi; Punjabi</li>
												<li>Polish</li>
												<li>Portuguese</li>
												<li>Pushto; Pashto</li>
												<li>Romanian; Moldavian; Moldovan</li>
												<li>Russian</li>
												<li>Sanskrit</li>
												<li>Sinhala; Sinhalese</li>
												<li>Slovak</li>
												<li>Slovak - Fraktur</li>
												<li>Slovenian</li>
												<li>Spanish; Castilian</li>
												<li>Spanish; Castilian - Old</li>
												<li>Albanian</li>
												<li>Serbian</li>
												<li>Serbian - Latin</li>
												<li>Swahili</li>
												<li>Swedish</li>
												<li>Syriac</li>
												<li>Tamil</li>
												<li>Telugu</li>
												<li>Tajik</li>
												<li>Tagalog</li>
												<li>Thai</li>
												<li>Tigrinya</li>
												<li>Turkish</li>
												<li>Uighur; Uyghur</li>
												<li>Ukrainian</li>
												<li>Urdu</li>
												<li>Uzbek</li>
												<li>Uzbek - Cyrilic</li>
												<li>Vietnamese</li>
												<li>Yiddish</li></ul>
							</div>
							<div class="span7">
								<ul class="unstyled">
								</ul>
							</div>
						</div>
					</div>
					</div>
					</div>
					<footer> <p>&copy; Koompi-ocr.com 2009 - 2018
